openapi: 3.2.0
info:
  title: Braze Export > Canvas API
  description: The Braze and Radar integration allows you to access sophisticated location-based campaign triggers and user profile enrichment with rich, first-party location data.
  version: 1.0.0
servers:
- url: https://rest.iad-01.braze.com
  description: REST endpoint for instance US-01
- url: https://rest.iad-01.braze.com
  description: REST endpoint for instance US-01
- url: https://rest.iad-02.braze.com
  description: REST endpoint for instance US-02
- url: https://rest.iad-03.braze.com
  description: REST endpoint for instance US-03
- url: https://rest.iad-04.braze.com
  description: REST endpoint for instance US-04
- url: https://rest.iad-05.braze.com
  description: REST endpoint for instance US-05
- url: https://rest.iad-06.braze.com
  description: REST endpoint for instance US-06
- url: https://rest.iad-08.braze.com
  description: REST endpoint for instance US-08
- url: https://rest.fra-01.braze.eu
  description: REST endpoint for instance EU-01
- url: https://rest.fra-02.braze.eu
  description: REST endpoint for instance EU-02
security:
- BearerAuth: []
tags:
- name: Export > Canvas
paths:
  /canvas/data_series:
    get:
      tags:
      - Export > Canvas
      summary: Export Canvas Data Series Analytics
      description: '> Use this endpoint to export time series data for a Canvas.


        To use this endpoint, youll need to generate an API key with the `canvas.data_series` permission.


        ## Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to this endpoint, as documented in API rate limits.


        ## Response


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {

        "data": {

        "name": (string) Canvas name,

        "stats": [

        {

        "time": (string) date as ISO 8601 date,

        "total_stats": {

        "revenue": (float),

        "conversions": (int),

        "conversions_by_entry_time": (int),

        "entries": (int)

        },

        "variant_stats": (optional) {

        "00000000-0000-0000-0000-0000000000000": (API identifier for variant) {

        "name": (string) name of variant,

        "revenue": (int),

        "conversions": (int),

        "conversions_by_entry_time": (int),

        "entries": (int)

        },

        ... (more variants)

        },

        "step_stats": (optional) {

        "00000000-0000-0000-0000-0000000000000": (API identifier for step) {

        "name": (string) name of step,

        "revenue": (float),

        "conversions": (int),

        "conversions_by_entry_time": (int),

        "messages": {

        "email": [

        {

        "sent": (int),

        "opens": (int),

        "unique_opens": (int),

        "clicks": (int),

        ... (more stats)

        }

        ],

        ... (more channels)

        }

        },

        ... (more steps)

        }

        },

        ... (more stats by time)

        ]

        },

        "message": (required, string) the status of the export, returns ''success'' when completed without errors

        }


        ```


        > **Tip:** For help with CSV and API exports, visit Export troubleshooting.'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{api_key}}
      - name: canvas_id
        in: query
        schema:
          type: string
        description: '(Required) String


          See [Canvas API Identifier](https://www.braze.com/docs/api/identifier_types/).'
        example: '{{canvas_id}}'
      - name: ending_at
        in: query
        schema:
          type: string
        description: '(Required) Datetime ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string)


          Date on which the data export should end. Defaults to time of the request.'
        example: '2018-05-30T23:59:59-5:00'
      - name: starting_at
        in: query
        schema:
          type: string
        description: "(Optional*) Datetime ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string) \n\nDate on which the data export should begin.\n\n*Either `length` or `starting_at` is required."
        example: '2018-05-28T23:59:59-5:00'
      - name: length
        in: query
        schema:
          type: integer
        description: '(Optional*) String


          Maximum number of days before `ending_at` to include in the returned series. Must be between 1 and 14 (inclusive).


          *Either `length` or `starting_at` is required.'
        example: 10
      - name: include_variant_breakdown
        in: query
        schema:
          type: boolean
        description: '(Optional) Boolean


          Whether or not to include variant stats (defaults to false).'
        example: true
      - name: include_step_breakdown
        in: query
        schema:
          type: boolean
        description: '(Optional) Boolean


          Whether or not to include step stats (defaults to false).'
        example: true
      - name: include_deleted_step_data
        in: query
        schema:
          type: boolean
        description: '(Optional) Boolean


          Whether or not to include step stats for deleted steps (defaults to false).'
        example: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getCanvasDataSeries
      x-operation-id-source: derived
  /canvas/data_summary:
    get:
      tags:
      - Export > Canvas
      summary: Export Canvas Data Analytics Summary
      description: '> Use this endpoint to export rollups of time series data for a Canvas, providing a concise summary of a Canvas results.


        To use this endpoint, youll need to generate an API key with the `canvas.data_summary` permission.


        ## Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to this endpoint, as documented in API rate limits.


        ## Response


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {

        "data": {

        "name": (string) Canvas name,

        "total_stats": {

        "revenue": (float),

        "conversions": (int),

        "conversions_by_entry_time": (int),

        "entries": (int)

        },

        "variant_stats": (optional) {

        "00000000-0000-0000-0000-0000000000000": (API identifier for variant) {

        "name": (string) name of variant,

        "revenue": (float),

        "conversions": (int),

        "entries": (int)

        },

        ... (more variants)

        },

        "step_stats": (optional) {

        "00000000-0000-0000-0000-0000000000000": (API identifier for step) {

        "name": (string) name of step,

        "revenue": (float),

        "conversions": (int),

        "conversions_by_entry_time": (int),

        "messages": {

        "android_push": (name of channel) [

        {

        "sent": (int),

        "opens": (int),

        "influenced_opens": (int),

        "bounces": (int)

        ... (more stats for channel)

        }

        ],

        ... (more channels)

        }

        },

        ... (more steps)

        }

        },

        "message": (required, string) the status of the export, returns ''success'' when completed without errors

        }


        ```


        > **Tip:** For help with CSV and API exports, visit Export troubleshooting.'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{api_key}}
      - name: canvas_id
        in: query
        schema:
          type: string
        description: "(Required) String \n\nSee [Canvas API identifier](https://www.braze.com/docs/api/identifier_types/)."
        example: '{{canvas_id}}'
      - name: ending_at
        in: query
        schema:
          type: string
        description: '(Required) Datetime ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string)

          Date on which the data export should end. Defaults to time of the request'
        example: '2018-05-30T23:59:59-5:00'
      - name: starting_at
        in: query
        schema:
          type: string
        description: '(Optional*) Datetime ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string)


          Date on which the data export should begin.


          *Either `length` or `starting_at` is required.'
        example: '2018-05-28T23:59:59-5:00'
      - name: length
        in: query
        schema:
          type: integer
        description: '(Optional*) Integer


          Max number of days before `ending_at` to include in the returned series. Must be between 1 and 14 (inclusive).


          *Either `length` or `starting_at` is required.'
        example: 5
      - name: include_variant_breakdown
        in: query
        schema:
          type: boolean
        description: '(Optional) Boolean


          Whether or not to include variant stats (defaults to false).'
        example: true
      - name: include_step_breakdown
        in: query
        schema:
          type: boolean
        description: '(Optional) Boolean


          Whether or not to include step stats (defaults to false).'
        example: true
      - name: include_deleted_step_data
        in: query
        schema:
          type: boolean
        description: '(Optional) Boolean


          Whether or not to include step stats for deleted steps (defaults to false).'
        example: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getCanvasDataSummary
      x-operation-id-source: derived
  /canvas/details:
    get:
      tags:
      - Export > Canvas
      summary: Export Canvas Details
      description: '> Use this endpoint to export metadata about a Canvas, such as the name, time created, current status, and more.


        To use this endpoint, youll need to generate an API key with the `canvas.details` permission.


        ## Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to this endpoint, as documented in API rate limits.


        ## Response


        Note: All Canvas steps have a next_paths field, which is an array of `{name, next_step_id}` data. For full steps and Message steps, the `next_step_ids` field will be present, but will not contain data for other Canvas Flow steps.


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {

        "created_at": (string) date created as ISO 8601 date,

        "updated_at": (string) date updated as ISO 8601 date,

        "name": (string) Canvas name,

        "description": (string) Canvas description,

        "archived": (boolean) whether this Canvas is archived,

        "draft": (boolean) whether this Canvas is a draft,

        "schedule_type": (string) type of scheduling action,

        "first_entry": (string) date of first entry as ISO 8601 date,

        "last_entry": (string) date of last entry as ISO 8601 date,

        "channels": (array of strings) step channels used with Canvas,

        "variants": [

        {

        "name": (string) name of variant,

        "id": (string) API identifier of the variant,

        "first_step_ids": (array of strings) API identifiers for first steps in variant,

        "first_step_id": (string) API identifier of first step in variant (deprecated in November 2017, only included if the variant has only one first step)

        },

        ... (more variations)

        ],

        "tags": (array of strings) tag names associated with the Canvas,

        "steps":

        {

        "name": (string) name of step,

        "id": (string) API identifier of the step,

        "next_step_ids": (array of strings) API identifiers of steps following step,

        "channels": (array of strings) channels used in step,

        "messages": {

        "message_variation_id": (string) { // **Tip:** For help with CSV and API exports, visit [Export troubleshooting.'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{api_key}}
      - name: canvas_id
        in: query
        schema:
          type: string
        description: '(Required) String


          See [Canvas API Identifier](https://www.braze.com/docs/api/identifier_types/) '
        example: '{{canvas_identifier}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getCanvasDetails
      x-operation-id-source: derived
  /canvas/list:
    get:
      tags:
      - Export > Canvas
      summary: Export Canvas List
      description: '> Use this endpoint to export a list of Canvases, including the name, Canvas API identifier and associated tags.


        Canvases are returned in groups of 100 sorted by time of creation (oldest to newest by default).


        Archived Canvases will not be included in the API response unless the `include_archived` field is specified. Canvases that are stopped but not archived, however, will be returned by default.


        To use this endpoint, youll need to generate an API key with the `canvas.list` permission.


        ## Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to this endpoint, as documented in API rate limits.


        ## Response


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {

        "canvases" : [

        {

        "id" : (string) Canvas API Identifier,

        "last_edited": (ISO 8601 string) the last edited time for the message,

        "name" : (string) Canvas name,

        "tags" : (array) tag names associated with the Canvas,

        },

        ... (more Canvases)

        ],

        "message": (required, string) the status of the export, returns ''success'' when completed without errors

        }


        ```


        > **Tip:** For help with CSV and API exports, visit Export troubleshooting.'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{api_key}}
      - name: page
        in: query
        schema:
          type: integer
        description: '(Optional) Integer


          The page of Canvases to return, defaults to `0` (returns the first set of up to 100).'
        example: 1
      - name: include_archived
        in: query
        schema:
          type: boolean
        description: '(Optional) Boolean


          Whether or not to include archived Canvases, defaults to `false`.'
      - name: sort_direction
        in: query
        schema:
          type: string
        description: '(Optional) String


          - Sort creation time from newest to oldest: pass in the value `desc`.

          - Sort creation time from oldest to newest: pass in the value `asc`.


          If `sort_direction` is not included, the default order is oldest to newest.'
        example: desc
      - name: last_edit.time[gt]
        in: query
        schema:
          type: string
        description: '(Optional) Datetime ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string)


          Filters the results and only returns Canvases that were edited greater than the time provided till now. Format is `yyyy-MM-DDTHH:mm:ss`.'
        example: '2020-06-28T23:59:59-5:00'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getCanvasList
      x-operation-id-source: derived
components:
  responses:
    Unauthorized:
      description: 401 Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: 400 Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 404 Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 403 Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: 500 Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: 429 Rate Limited
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
