openapi: 3.2.0
info:
  title: Braze Export > Segment API
  description: The Braze and Radar integration allows you to access sophisticated location-based campaign triggers and user profile enrichment with rich, first-party location data.
  version: 1.0.0
servers:
- url: https://rest.iad-01.braze.com
  description: REST endpoint for instance US-01
- url: https://rest.iad-01.braze.com
  description: REST endpoint for instance US-01
- url: https://rest.iad-02.braze.com
  description: REST endpoint for instance US-02
- url: https://rest.iad-03.braze.com
  description: REST endpoint for instance US-03
- url: https://rest.iad-04.braze.com
  description: REST endpoint for instance US-04
- url: https://rest.iad-05.braze.com
  description: REST endpoint for instance US-05
- url: https://rest.iad-06.braze.com
  description: REST endpoint for instance US-06
- url: https://rest.iad-08.braze.com
  description: REST endpoint for instance US-08
- url: https://rest.fra-01.braze.eu
  description: REST endpoint for instance EU-01
- url: https://rest.fra-02.braze.eu
  description: REST endpoint for instance EU-02
security:
- BearerAuth: []
tags:
- name: Export > Segment
paths:
  /segments/list:
    get:
      tags:
      - Export > Segment
      summary: Export Segment List
      description: '> Use this endpoint to export a list of segments, each of which will include its name, Segment API identifier, and whether it has analytics tracking enabled.


        The segments are returned in groups of 100 sorted by time of creation (oldest to newest by default). Archived segments are not included.


        To use this endpoint, youll need to generate an API key with the `segments.list` permission.


        ### Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to this endpoint, as documented in API rate limits.


        ## Response


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {

        "message": (required, string) the status of the export, returns ''success'' when completed without errors,

        "segments" : [

        {

        "id" : (string) Segment API Identifier,

        "name" : (string) segment name,

        "analytics_tracking_enabled" : (boolean) whether the segment has analytics tracking enabled,

        "tags" : (array) tag names associated with the segment

        },

        ...

        ]

        }


        ```


        > **Tip:** For help with CSV and API exports, visit Export troubleshooting.'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{api_key}}
      - name: page
        in: query
        schema:
          type: integer
        description: '(Optional) Integer


          The page of segments to return, defaults to 0 (returns the first set of up to 100).'
        example: 1
      - name: sort_direction
        in: query
        schema:
          type: string
        description: '(Optional) String


          - Sort creation time from newest to oldest: pass in the value `desc`.

          - Sort creation time from oldest to newest: pass in the value `asc`.


          If `sort_direction` is not included, the default order is oldest to newest.'
        example: desc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getSegmentsList
      x-operation-id-source: derived
  /segments/data_series:
    get:
      tags:
      - Export > Segment
      summary: Export Segment Analytics
      description: '> Use this endpoint to retrieve a daily series of the estimated size of a segment over time.


        Note: If you are using our older navigation, `segment_id` can be found at **Developer Console > API Settings**.


        To use this endpoint, youll need to generate an API key with the `segments.data_series` permission.


        ### Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to this endpoint, as documented in API rate limits.


        ## Response


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {

        "message": (required, string) the status of the export, returns ''success'' when completed without errors,

        "data" : [

        {

        "time" : (string) date as ISO 8601 date,

        "size" : (int) size of the segment on that date

        },

        ...

        ]

        }


        ```


        > **Tip:** For help with CSV and API exports, visit Export troubleshooting.'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{api_key}}
      - name: segment_id
        in: query
        schema:
          type: string
        description: '(Required) String


          See [Segment API identifier](https://www.braze.com/docs/api/identifier_types/).


          The `segment_id` for a given segment can be found in your **Settings > Setup and Testing > API Keys.** within your Braze account or you can use the [Segment List Endpoint](https://www.braze.com/docs/api/endpoints/export/get_segment/).'
        example: '{{segment_identifier}}'
      - name: length
        in: query
        schema:
          type: integer
        description: '(Required) Integer


          Max number of days before `ending_at` to include in the returned series - must be between 1 and 100 (inclusive).'
        example: 14
      - name: ending_at
        in: query
        schema:
          type: string
        description: '(Optional) Datetime ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string)


          Date on which the data series should end. Defaults to time of the request.'
        example: '2018-06-27T23:59:59-5:00'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getSegmentsDataSeries
      x-operation-id-source: derived
  /segments/details:
    get:
      tags:
      - Export > Segment
      summary: Export Segment Details
      description: '> Use this endpoint to retrieve relevant information on a segment, which can be identified by the `segment_id`.


        Note: If you are using our older navigation, `segment_id` can be found at **Developer Console > API Settings**.


        To use this endpoint, youll need to generate an API key with the `segments.details` permission.


        ## Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to this endpoint, as documented in API rate limits.


        ## Response


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {

        "message": (required, string) the status of the export, returns ''success'' when completed without errors,

        "created_at" : (string) date created as ISO 8601 date,

        "updated_at" : (string) date last updated as ISO 8601 date,

        "name" : (string) segment name,

        "description" : (string) human-readable description of filters,

        "text_description" : (string) segment description,

        "tags" : (array) tag names associated with the segment

        }


        ```


        > **Tip:** For help with CSV and API exports, visit Export troubleshooting.'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer {{api_key}}
      - name: segment_id
        in: query
        schema:
          type: string
        description: '(Required) String


          See [Segment API identifier](https://www.braze.com/docs/api/identifier_types/).


          The `segment_id` for a given segment can be found in your **Settings > Setup and Testing > API Keys** within your Braze account or you can use the [Segment List Endpoint](https://www.braze.com/docs/api/endpoints/export/get_segment/).'
        example: '{{segment_identifier}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getSegmentsDetails
      x-operation-id-source: derived
components:
  responses:
    Unauthorized:
      description: 401 Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: 400 Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 404 Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 403 Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: 500 Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: 429 Rate Limited
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
