openapi: 3.0.0
info:
  title: Braze
  description: >-
    The Braze and Radar integration allows you to access sophisticated
    location-based campaign triggers and user profile enrichment with rich,
    first-party location data. When Radar geofence or trip tracking events are
    generated, custom events and user attributes are sent to Braze in real-time.
    These events and attributes can then be used to trigger location-based
    campaigns, power last-mile pickup and delivery operations, monitor fleet and
    shipping logistics, or build user segments based on location patterns. 
  version: 1.0.0
servers:
  - url: https://rest.iad-01.braze.com
    description: REST endpoint for instance US-01
  - url: https://rest.iad-01.braze.com
    description: REST endpoint for instance US-01
  - url: https://rest.iad-02.braze.com
    description: REST endpoint for instance US-02
  - url: https://rest.iad-03.braze.com
    description: REST endpoint for instance US-03
  - url: https://rest.iad-04.braze.com
    description: REST endpoint for instance US-04
  - url: https://rest.iad-05.braze.com
    description: REST endpoint for instance US-05
  - url: https://rest.iad-06.braze.com
    description: REST endpoint for instance US-06
  - url: https://rest.iad-08.braze.com
    description: REST endpoint for instance US-08
  - url: https://rest.fra-01.braze.eu
    description: REST endpoint for instance EU-01
  - url: https://rest.fra-02.braze.eu
    description: REST endpoint for instance EU-02
components:
  responses:
    BadRequest:
      description: 400 Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: 401 Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 403 Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 404 Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: 429 Rate Limited
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: 500 Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Catalogs
    description: >-
      Use the Braze Catalogs Endpoints to add, edit, and manage your catalogs
      and catalog item details. You can use the asynchronous catalog endpoints
      to make bulk changes to your catalog.


      Looking for guidance on creating a catalog? Check out our article for
      [creating and using
      catalogs](https://www.braze.com/docs/user_guide/personalization_and_dynamic_content/catalog/).
  - name: Catalogs > Catalog Management
  - name: Catalogs > Catalog Management > Synchronous
  - name: Catalogs > Catalog Items
  - name: Catalogs > Catalog Items > Asynchronous
  - name: Catalogs > Catalog Items > Synchronous
  - name: Email Lists & Addresses
    description: >-
      Users email subscription status can be updated and retrieved via Braze
      using a RESTful API. You can use the API to set up bi-directional sync
      between Braze and other email systems or your own database.
  - name: Export
    description: >+
      With this collection of endpoints, you will be able to access and export
      various levels of details on your users, segments, campaigns, and
      Canvases. 


      Please be sure to reference the correct Instance when making API requests.

  - name: Export > Campaign
  - name: Export > Canvas
  - name: Export > Custom Events
  - name: Export > KPI
  - name: Export > News Feed
  - name: Export > Purchases
  - name: Export > Segment
  - name: Export > Session Analytics
  - name: Export > Users
  - name: Messaging
    description: >+
      The Braze messaging API provides you with two distinct options for sending
      messages to your users. You can provide the message contents and
      configuration in the API request with the /messages/send and
      /messages/schedule endpoints. Alternatively, you can manage the details of
      your message with an API-Triggered Delivery campaign in the dashboard and
      just control when and to whom it is sent with the campaigns/trigger/send
      and campaigns/trigger/schedule endpoints. The following sections will
      detail the request specification for both methods.


      The examples below contain the URL https://rest.iad-01.braze.com, but some
      customers will need to use a different endpoint URL, for example if you
      are hosted in Brazes EU data center or have a dedicated Braze
      installation. Your Success Manager will inform you if you should use a
      different endpoint URL.


      Similarly to other campaigns, you can limit the number of times a
      particular user can receive a Messaging API campaign by configuring
      re-eligibility settings in the Braze Dashboard. Braze will not deliver API
      messages to users that havent become re-eligible for the campaign
      regardless of how many API requests are sent.

  - name: Messaging > Live Activities
  - name: Messaging > Schedule Mesages
  - name: Messaging > Send Messages
  - name: Preference Center
  - name: SCIM
  - name: SMS
    description: >-
      Use the Braze SMS Endpoints to manage your users phone numbers in your
      subscription groups.
  - name: Subscription Groups
    description: >-
      Use the Subscription Group REST APIs to programmatically manage the
      subscription groups that you have stored on the Braze dashboard, on the
      Subscription Group page.
  - name: Subscription Groups > Email
  - name: Subscription Groups > SMS and WhatsApp
  - name: Templates
  - name: Templates > Content Blocks
    description: >-
      Content Blocks are an Email Templating feature that allow you to: 

      - Create a consistent look and feel to your Email campaigns using Content
      Blocks as Headers and Footers.

      - Distribute the same offer codes through different channels.

      - Create pre-defined assets that can be used to build messages with
      consistent information and assets.

      - Copy entire message bodies to other messages.


      You can edit Content Blocks in the Templates & Media section of the Braze
      UI, or here, via API.
  - name: Templates > Email Templates
  - name: User Data
    description: >+
      The User API allows you to track information on your users by logging data
      about your users that comes from outside your mobile app. You can also use
      this API to delete users for testing or other purposes.


      All API endpoints have a data payload limit of 4MB. Attempts to post more
      data than 4MB will fail with an HTTP 413 Request Entity Too Large.


      The examples below contain the URL https://rest.iad-01.braze.com, but some
      customers will need to use a different endpoint URL, for example if you
      are hosted in Brazes EU data center or have a dedicated Braze
      installation. Your Success Manager will inform you if you should use a
      different endpoint URL.

  - name: User Data > External ID Migration
    description: >-
      The External ID Migration API allows you to rename existing external IDs
      (creating a new primary ID and deprecating the existing ID) and remove
      deprecated IDs post-migration. <br><br> We've architected this solution to
      allow multiple External IDs in order to support a migration period whereby
      older versions of your apps still in the wild that use the previous
      External ID naming schema dont break. We highly recommend removing
      deprecated External IDs once your old naming schema is no longer in use.
paths:
  /templates/email/update:
    post:
      tags:
        - Templates > Email Templates
      summary: Update Email Template
      description: >-
        > Use this endpoint to update email templates on the Braze dashboard. 
          

        To use this endpoint, youll need to generate an API key with the
        `templates.email.update` permission.


        You can access an email templates `email_template_id` by navigating to
        it on the **Templates & Media** page. The [Create email template
        endpoint](https://www.braze.com/docs/api/endpoints/templates/email_templates/post_create_email_template/)
        will also return an `email_template_id` reference.


        All fields other than the `email_template_id` are optional, but you must
        specify at least one field to update.


        ### Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to
        this endpoint, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ### Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `email_template_id` | Required | String | Your [email template's API
        identifier](https://www.braze.com/docs/api/identifier_types/). |

        | `template_name` | Optional | String | Name of your email template. |

        | `subject` | Optional | String | Email template subject line. |

        | `body` | Optional | String | Email template body that may include
        HTML. |

        | `plaintext_body` | Optional | String | A plaintext version of the
        email template body. |

        | `preheader` | Optional | String | Email preheader used to generate
        previews in some clients. |

        | `tags` | Optional | String |
        [Tags](https://www.braze.com/docs/user_guide/administrative/app_settings/manage_app_group/tags/)
        must already exist. |

        | `should_inline_css` | Optional | Boolean | Enables or disables the
        `inline_css` feature per template. If not provided, Braze will use the
        default setting for the AppGroup. One of `true` or `false` is expected.
        |


        ### Possible errors


        The following table lists possible returned errors and their associated
        troubleshooting steps, if applicable.


        | Error | Troubleshooting |

        | --- | --- |

        | Template name is required |  |

        | Tags must be an array | Tags must be formatted as an array of strings,
        for example `["marketing", "promotional", "transactional"]`. |

        | All tags must be strings | Make sure your tags are encapsulated in
        quotes (`""`). |

        | Some tags could not be found | To add a tag when creating an email
        template, the tag must already exist in Braze. |

        | Invalid value for `should_inline_css`. One of `true` or `false` was
        expected | This parameter only accepts boolean values (true or false).
        Make sure the value for `should_inline_css` is not encapsulated in
        quotes (`""`), which causes the value to be sent as a string instead. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email_template_id: email_template_id
                template_name: Weekly Newsletter
                subject: This Week's Styles
                body: >-
                  Check out this week's digital lookbook to inspire your
                  outfits. Take a look at https://www.braze.com/
                plaintext_body: >-
                  This is the updated text within my email body and here is a
                  link to https://www.braze.com/.
                preheader: We want you to have the best looks this Summer
                tags:
                  - Tag1
                  - Tag2
              properties:
                email_template_id:
                  type: string
                template_name:
                  type: string
                subject:
                  type: string
                body:
                  type: string
                plaintext_body:
                  type: string
                preheader:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/track:
    post:
      tags:
        - User Data
      summary: Track Users
      description: >-
        > Use this endpoint to record custom events, purchases, and update user
        profile attributes. 
          

        To use this endpoint, youll need to generate an API key with the
        `users.track` permission.


        **Note:** Braze processes the data passed via API at face value and
        customers should only pass deltas (changing data) to minimize
        unnecessary data point consumption. To read more, refer to [Data
        points](https://www.braze.com/docs/user_guide/onboarding_with_braze/data_points#data-points).


        Customers using the API for server-to-server calls may need to allowlist
        `rest.iad-01.braze.com` if theyre behind a firewall.


        ### Rate limit


        We apply a base speed limit of 50,000 requests per minute to this
        endpoint for all customers. Each request to the `/users/track` endpoint
        can contain up to 75 events, 75 attribute updates, and 75 purchases.
        Each component (event, attribute, and purchase arrays), can update up to
        75 users each for a max of 225 individual data points. Each update can
        also belong to the same user for a max of 225 updates to a single user
        in a request.


        See our page on [API rate
        limits](https://www.braze.com/docs/api/api_limits/) for details, and
        reach out to your customer success manager if you need your limit
        increased.


        ### Request parameters


        For each of the request components listed in the following table, one of
        `external_id`, `user_alias`, or `braze_id` is required.


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `attributes` | Optional | Array of attributes objects | See [user
        attributes
        object](https://www.braze.com/docs/api/objects_filters/user_attributes_object/)
        |

        | `events` | Optional | Array of event objects | See [events
        object](https://www.braze.com/docs/api/objects_filters/event_object/) |

        | `purchases` | Optional | Array of purchase objects | See [purchases
        object](https://www.braze.com/docs/api/objects_filters/purchase_object/)
        |


        ## User track responses


        Upon using any of the aforementioned API requests you should receive one
        of the following three general responses:


        #### Successful message


        Successful messages will be met with the following response:


        ``` json

        {
          "message" : "success",
          "attributes_processed" : (optional, integer), if attributes are included in the request, this will return an integer of the number of external_ids with attributes that were queued to be processed,
          "events_processed" : (optional, integer), if events are included in the request, this will return an integer of the number of events that were queued to be processed,
          "purchases_processed" : (optional, integer), if purchases are included in the request, this will return an integer of the number of purchases that were queued to be processed,
        }


        ```


        #### Successful message with non-fatal errors


        If your message is successful but has non-fatal errors such as one
        invalid event object out of a long list of events, then you will receive
        the following response:


        ``` json

        {
          "message" : "success",
          "errors" : [
            {
            }
          ]
        }


        ```


        #### Message with fatal errors


        In the case of a success, any data that was not affected by an error in
        the `errors` array will still be processed. If your message has a fatal
        error you will receive the following response:


        ``` json

        {
          "message" : ,
          "errors" : [
            {
            }
          ]
        }


        ```


        ### Fatal error response codes


        For status codes and associated error messages that will be returned if
        your request encounters a fatal error, reference [Fatal errors &
        responses](https://www.braze.com/api/errors/#fatal-errors).


        If you receive the error provided external_id is blacklisted and
        disallowed, your request may have included a dummy user. For more
        information, refer to [Spam
        blocking](https://www.braze.com/docs/user_guide/data_and_analytics/user_data_collection/user_archival/#spam-blocking).


        ### Creating an alias-only user profile


        Keep the following nuances in mind when using the `/users/track`
        endpoint:


        You can use the `/users/track` endpoint to create a new alias-only user
        by setting the `_update_existing_only` key with a value of `false` in
        the body of the request. If this value is omitted, the alias-only user
        profile will not be created. Using an alias-only user guarantees that
        one profile with that alias will exist. This is especially helpful when
        building a new integration as it prevents the creation of duplicate user
        profiles.


        ### Importing legacy user data


        You may submit data through the Braze API for a user who has not yet
        used your mobile app in order to generate a user profile. If the user
        subsequently uses the application all information following their
        identification via the SDK will be merged with the existing user profile
        you created via the API call. Any user behavior that is recorded
        anonymously by the SDK prior to identification will be lost upon merging
        with the existing API-generated user profile.


        The segmentation tool will include these users regardless of whether
        they have engaged with the app. If you want to exclude users uploaded
        via the User API who have not yet engaged with the app, simply add the
        filter: `Session Count > 0`.


        ### Making bulk updates


        If you have a use case where you need to make batch updates to the
        `users/track` endpoint, we recommend adding the bulk update header so
        that Braze can properly identify, observe, and route your request.


        Refer to the following sample request with the `X-Braze-Bulk` header:


        ``` json

        curl --location --request POST
        'https://rest.iad-01.braze.com/users/track' \

        --header 'Content-Type: application/json' \

        --header 'X-Braze-Bulk: true' \

        --header 'Authorization: Bearer YOUR-API-KEY-HERE' \

        --data-raw '{ "attributes": [ ], "events": [ ], "purchases": [ ] }'


        ```


        Warning: When the `X-Braze-Bulk` header is present with any value, Braze
        will consider the request a bulk request. Set the value to `true`.
        Currently, setting the value to `false` does not disable the headerit
        will still be treated as if it were true.


        #### Use cases


        Consider the following use cases where you may use the bulk update
        header:


        - A daily job where multiple users custom attributes are updated via
        the `/users/track` endpoint.

        - An ad-hoc user data backfill script which updates user information via
        the `/users/track` endpoint.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                attributes:
                  - external_id: rachel_feinberg
                    string_attribute: fruit
                    boolean_attribute_1: true
                    integer_attribute: 25
                    array_attribute:
                      - banana
                      - apple
                events:
                  - external_id: user_identifier
                    app_id: your_app_identifier
                    name: rented_movie
                    time: '2022-12-06T19:20:45+01:00'
                    properties:
                      release:
                        studio: FilmStudio
                        year: '2022'
                      cast:
                        - name: Actor1
                        - name: Actor2
                  - user_alias:
                      alias_name: device123
                      alias_label: my_device_identifier
                    app_id: your_app_identifier
                    name: rented_movie
                    time: '2013-07-16T19:20:50+01:00'
                purchases:
                  - external_id: user_identifier
                    app_id: your_app_identifier
                    product_id: product_name
                    currency: USD
                    price: 12.12
                    quantity: 6
                    time: '2017-05-12T18:47:12Z'
                    properties:
                      color: red
                      monogram: ABC
                      checkout_duration: 180
                      size: Large
                      brand: Backpack Locker
              properties:
                attributes:
                  type: array
                  items:
                    type: object
                events:
                  type: array
                  items:
                    type: object
                purchases:
                  type: array
                  items:
                    type: object
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /catalogs/{catalog_name}:
    delete:
      tags:
        - Catalogs > Catalog Management > Synchronous
      summary: Delete Catalog
      description: >-
        > Use this endpoint to delete a catalog. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.delete` permission.


        ## Rate limit


        This endpoint has a shared rate limit of 5 requests per minute between
        all synchronous catalog endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |


        ## Response


        There are two status code responses for this endpoint: `200` and `404`.


        ### Example success response


        The status code `200` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `404` could return the following response body. Refer to
        [Troubleshooting](https://www.braze.com/docs/api/endpoints/catalogs/catalog_management/synchronous/delete_catalog/#troubleshooting)
        for more information about errors you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "catalog-not-found",
              "message": "Could not find catalog",
              "parameters": [
                "catalog_name"
              ],
              "parameter_values": [
                "restaurants"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog-not-found` | Check that the catalog name is valid. |
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /catalogs:
    get:
      tags:
        - Catalogs > Catalog Management > Synchronous
      summary: List Catalogs
      description: >-
        > Use this endpoint to return a list of catalogs in a workspace. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.get` permission.


        ## Rate limit


        This endpoint has a shared rate limit of 5 requests per minute between
        all synchronous catalog endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path and request parameters


        There are no path or request parameters for this endpoint.


        ## Example request


        ```

        curl --location --request GET 'https://rest.iad-03.braze.com/catalogs' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY'


        ```


        ## Response


        ### Example success response


        The status code `200` could return the following response body.


        ``` json

        {
          "catalogs": [
            {
              "description": "My Restaurants",
              "fields": [
                {
                  "name": "id",
                  "type": "string"
                },
                {
                  "name": "Name",
                  "type": "string"
                },
                {
                  "name": "City",
                  "type": "string"
                },
                {
                  "name": "Cuisine",
                  "type": "string"
                },
                {
                  "name": "Rating",
                  "type": "number"
                },
                {
                  "name": "Loyalty_Program",
                  "type": "boolean"
                },
                {
                  "name": "Created_At",
                  "type": "time"
                }
              ],
              "name": "restaurants",
              "num_items": 10,
              "updated_at": "2022-11-02T20:04:06.879+00:00"
            },
            {
              "description": "My Catalog",
              "fields": [
                {
                  "name": "id",
                  "type": "string"
                },
                {
                  "name": "string_field",
                  "type": "string"
                },
                {
                  "name": "number_field",
                  "type": "number"
                },
                {
                  "name": "boolean_field",
                  "type": "boolean"
                },
                {
                  "name": "time_field",
                  "type": "time"
                },
              ],
              "name": "my_catalog",
              "num_items": 3,
              "updated_at": "2022-11-02T09:03:19.967+00:00"
            },
          ],
          "message": "success"
        }


        ```
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Catalogs > Catalog Management > Synchronous
      summary: Create Catalog
      description: >-
        > Use this endpoint to create a catalog. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.create` permission.


        ## Rate limit


        This endpoint has a shared rate limit of 5 requests per minute between
        all synchronous catalog endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalogs` | Required | Array | An array that contains catalog
        objects. Only one catalog object is allowed for this request. |


        ### Catalog object parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `name` | Required | String | The name of the catalog that you want to
        create. |

        | `description` | Required | String | The description of the catalog
        that you want to create. |

        | `fields` | Required | Array | An array of objects where the object
        contains keys `name` and `type`. |


        ## Example request


        ```

        curl --location --request POST 'https://rest.iad-03.braze.com/catalogs'
        \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY' \

        --data-raw '{
          "catalogs": [
            {
              "name": "restaurants",
              "description": "My Restaurants",
              "fields": [
                {
                  "name": "id",
                  "type": "string"
                },
                {
                  "name": "Name",
                  "type": "string"
                },
                {
                  "name": "City",
                  "type": "string"
                },
                {
                  "name": "Cuisine",
                  "type": "string"
                },
                {
                  "name": "Rating",
                  "type": "number"
                },
                {
                  "name": "Loyalty_Program",
                  "type": "boolean"
                },
                {
                  "name": "Created_At",
                  "type": "time"
                }
              ]
            }
          ]
        }'


        ```


        ## Response


        There are two status code responses for this endpoint: `201` and `400`.


        ### Example success response


        The status code `201` could return the following response body.


        ``` json

        {
          "catalogs": [
            {
              "description": "My Restaurants",
              "fields": [
                {
                  "name": "id",
                  "type": "string"
                },
                {
                  "name": "Name",
                  "type": "string"
                },
                {
                  "name": "City",
                  "type": "string"
                },
                {
                  "name": "Cuisine",
                  "type": "string"
                },
                {
                  "name": "Rating",
                  "type": "number"
                },
                {
                  "name": "Loyalty_Program",
                  "type": "boolean"
                },
                {
                  "name": "Created_At",
                  "type": "time"
                }
              ],
              "name": "restaurants",
              "num_items": 0,
              "updated_at": "2022-11-02T20:04:06.879+00:00"
            }
          ],
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "catalog-name-already-exists",
              "message": "A catalog with that name already exists",
              "parameters": [
                "name"
              ],
              "parameter_values": [
                "restaurants"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog-array-invalid` | `catalogs` must be an array of objects. |

        | `catalog-name-already-exists` | Catalog with that name already exists.
        |

        | `catalog-name-too-large` | Character limit for a catalog name is 250.
        |

        | `description-too-long` | Character limit for description is 250. |

        | `field-names-not-unique` | The same field name is referenced twice. |

        | `field-names-too-large` | Character limit for a field name is 250. |

        | `id-not-first-column` | The `id` must be the first field in the array.
        Check that the type is a string. |

        | `invalid_catalog_name` | Catalog name can only include letters,
        numbers, hyphens, and underscores. |

        | `invalid-field-names` | Fields can only include letters, numbers,
        hyphens, and underscores. |

        | `invalid-field-types` | Make sure the field types are valid. |

        | `invalid-fields` | `fields` is not formatted correctly. |

        | `reached-company-catalogs-limit` | Maximum number of catalogs reached.
        Contact your Braze account manager for more information. |

        | `too-many-catalog-atoms` | You can only create one catalog per
        request. |

        | `too-many-fields` | Number of fields limit is 30. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                catalogs:
                  - name: restaurants
                    description: My Restaurants
                    fields:
                      - name: id
                        type: string
              properties:
                catalogs:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /catalogs/{catalog_name}/items:
    delete:
      tags:
        - Catalogs > Catalog Items > Asynchronous
      summary: Delete Multiple Catalog Items
      description: >-
        > Use this endpoint to delete multiple items in your catalog. 


        To use this endpoint, youll need to generate an API key with the
        `catalogs.delete_items` permission.


        Each request can support up to 50 items. This endpoint is asynchronous.


        ## Rate limit


        This endpoint has a shared rate limit of 100 requests per minute between
        all asynchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `items` | Required | Array | An array that contains item objects. The
        item objects should contain an `id` referencing the items Braze should
        delete. Up to 50 item objects are allowed per request. |


        ## Example request


        ```

        curl --location --request DELETE
        'https://rest.iad-03.braze.com/catalogs/restaurants/items' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY' \

        --data-raw '{
          "items": [
            {"id": "restaurant1"},
            {"id": "restaurant2"},
            {"id": "restaurant3"}
          ]
        }'


        ```


        ## Response


        There are three status code responses for this endpoint: `202`, `400`,
        and `404`.


        ### Example success response


        The status code `202` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "items-missing-ids",
              "message": "There are 1 item(s) that do not have ids",
              "parameters": [],
              "parameter_values": []
            }
          ],
          "message": "Invalid Request",
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `ids-too-large` | Item IDs can't be more than 250 characters. |

        | `ids-not-unique` | Check that the item IDs are unique in the request.
        |

        | `ids-not-strings` | Item IDs must be of type string. |

        | `items-missing-ids` | There are items that do not have item IDs. Check
        that each item has an item ID. |

        | `invalid-ids` | Item IDs can only include letters, numbers, hyphens,
        and underscores. |

        | `request-includes-too-many-items` | Your request has too many items.
        The item limit per request is 50. |
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Catalogs > Catalog Items > Asynchronous
      summary: Edit Multiple Catalog Items
      description: >-
        > Use this endpoint to delete multiple items in your catalog. 


        To use this endpoint, youll need to generate an API key with the
        `catalogs.delete_items` permission.


        Each request can support up to 50 items. This endpoint is asynchronous.


        ## Rate limit


        This endpoint has a shared rate limit of 100 requests per minute between
        all asynchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `items` | Required | Array | An array that contains item objects. The
        item objects should contain an `id` referencing the items Braze should
        delete. Up to 50 item objects are allowed per request. |


        ## Example request


        ```

        curl --location --request DELETE
        'https://rest.iad-03.braze.com/catalogs/restaurants/items' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY' \

        --data-raw '{
          "items": [
            {"id": "restaurant1"},
            {"id": "restaurant2"},
            {"id": "restaurant3"}
          ]
        }'


        ```


        ## Response


        There are three status code responses for this endpoint: `202`, `400`,
        and `404`.


        ### Example success response


        The status code `202` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "items-missing-ids",
              "message": "There are 1 item(s) that do not have ids",
              "parameters": [],
              "parameter_values": []
            }
          ],
          "message": "Invalid Request",
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `ids-too-large` | Item IDs can't be more than 250 characters. |

        | `ids-not-unique` | Check that the item IDs are unique in the request.
        |

        | `ids-not-strings` | Item IDs must be of type string. |

        | `items-missing-ids` | There are items that do not have item IDs. Check
        that each item has an item ID. |

        | `invalid-ids` | Item IDs can only include letters, numbers, hyphens,
        and underscores. |

        | `request-includes-too-many-items` | Your request has too many items.
        The item limit per request is 50. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                  - id: restaurant1
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Catalogs > Catalog Items > Asynchronous
      summary: Create Multiple Catalog Items
      description: >-
        > Use this endpoint to create multiple items in your catalog. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.add_items` permission.


        Each request can support up to 50 items. This endpoint is asynchronous.


        ## Rate limit


        This endpoint has a shared rate limit of 100 requests per minute between
        all asynchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `items` | Required | Array | An array that contains item objects. The
        item objects should contain all of the fields in the catalog. Up to 50
        item objects are allowed per request. |


        ## Example request


        ```

        curl --location --request POST
        'https://rest.iad-03.braze.com/catalogs/restaurants/items' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY' \

        --data-raw '{
          "items": [
            {
              "id": "restaurant1",
              "Name": "Restaurant1",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 5,
              "Loyalty_Program": true,
              "Created_At": "2022-11-01T09:03:19.967+00:00"
            },
            {
              "id": "restaurant2",
              "Name": "Restaurant2",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 10,
              "Loyalty_Program": true,
              "Created_At": "2022-11-02T09:03:19.967+00:00"
            },
            {
              "id": "restaurant3",
              "Name": "Restaurant3",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 3,
              "Loyalty_Program": false,
              "Created_At": "2022-11-03T09:03:19.967+00:00"
            }
          ]
        }'


        ```


        ## Response


        There are three status code responses for this endpoint: `202`, `400`,
        and `404`.


        ### Example success response


        The status code `202` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "fields-do-not-match",
              "message": "Fields do not match with fields on the catalog",
              "parameters": [
                "id"
              ],
              "parameter_values": [
                "restaurant2"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `ids-not-strings` | Item IDs must be of type string. |

        | `ids-not-unique` | Item IDs must be unique in the request. |

        | `ids-too-large` | Item IDs can't be more than 250 characters. |

        | `invalid-ids` | Item IDs can only include letters, numbers, hyphens,
        and underscores. |

        | `invalid-fields` | Confirm that the fields in the request exist in the
        catalog. |

        | `invalid-keys-in-value-object` | Item object keys can't include `.` or
        `$`. |

        | `item-array-invalid` | `items` must be an array of objects. |

        | `items-missing-ids` | There are items that do not have item IDs. Check
        that each item has an item ID. |

        | `items-too-large` | Item values can't exceed 5,000 characters. |

        | `request-includes-too-many-items` | Your request has too many items.
        The item limit per request is 50. |

        | `too-deep-nesting-in-value-object` | Item objects can't have more than
        50 levels of nesting. |

        | `unable-to-coerce-value` | Item types can't be converted. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                  - id: restaurant1
                    Name: Restaurant1
                    City: New York
                    Cuisine: American
                    Rating: 5
                    Loyalty_Program: true
                    Created_At: '2022-11-01T09:03:19.967+00:00'
              properties:
                items:
                  type: array
                  items:
                    type: object
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Catalogs > Catalog Items > Asynchronous
      summary: Update Catalog Item
      description: >-
        > Use this endpoint to send Canvas messages via API-triggered delivery. 
          

        To use this endpoint, you'll need to generate an API key with the
        `catalogs.replace_item` permission.


        API-triggered Delivery allows you to store message content in the Braze
        dashboard while dictating when a message is sent, and to whom via your
        API.


        Note that to send messages with this endpoint, you must have a [Canvas
        ID](https://www.braze.com/docs/api/identifier_types/#canvas-api-identifier),
        created when you build a Canvas.


        ## Rate limit


        This endpoint has a shared rate limit of 50 requests per minute between
        all synchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |

        | `item_id` | Required | String | The ID of the catalog item. |


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `items` | Required | Array | An array that contains item objects. The
        item objects should contain fields that exist in the catalog except for
        the `id` field. Only one item object is allowed per request. |


        ## Example request


        ## Response


        There are three status code responses for this endpoint: `200`, `400`,
        and `404`.


        ### Example success response


        The status code `200` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "invalid-fields",
              "message": "Some of the fields given do not exist in the catalog",
              "parameters": [
                "id"
              ],
              "parameter_values": [
                "restaurant1"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog_not_found` | Check that the catalog name is valid. | 

        | `ids_not_string` | Confirm that each item ID is a string. |

        | `ids_not_unique` | Check that each item ID is unique. |

        | `ids_too_large` | Character limit for each item ID is 250 characters.
        |

        | `item_array_invalid` | `items` must be an array of objects. |

        | `items_missing_ids` | Confirm that each item has an ID. |

        | `items_too_large` | Item values can't exceed 5,000 characters. |

        | `invalid_ids` | Supported characters for item ID names are letters,
        numbers, hyphens, and underscores. |

        | `invalid_fields` | Confirm that the fields in the request exist in the
        catalog. |

        | `invalid_keys_in_value_object` | Item object keys can't include `.` or
        `$`. |

        | `too_deep_nesting_in_value_object` | Item objects can't have more than
        50 levels of nesting. 

        | `request_includes_too_many_items` | Your request has too many items.
        The item limit per request is 50. |

        | `unable_to_coerce_value` | Item types can't be converted. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                  - Name: Restaurant
                    Loyalty_Program: false
                    Location:
                      Latitude: 33.6112
                      Longitude: -117.8711
                    Open_Time: '2021-09-03T09:03:19.967+00:00'
              properties:
                items:
                  type: array
                  items:
                    type: object
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Catalogs > Catalog Items > Synchronous
      summary: List Multiple Catalog Item Details
      description: >-
        > Use this endpoint to return multiple catalog items and their content. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.get_items` permission.


        ## Rate limit


        This endpoint has a shared rate limit of 50 requests per minute between
        all synchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |


        ## Query parameters


        Note that each call to this endpoint will return 50 items. For a catalog
        with more than 50 items, use the `Link` header to retrieve the data on
        the next page as shown in the following example response.


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `cursor` | Optional | String | Determines the pagination of the
        catalog items. |


        ## Example requests


        ### Without cursor


        ```

        curl --location --request GET
        'https://rest.iad-03.braze.com/catalogs/restaurants/items' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY'


        ```


        ### With cursor


        ```

        curl --location --request GET
        'https://rest.iad-03.braze.com/catalogs/restaurants/items?cursor=c2tpcDow'
        \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY'


        ```


        ## Response


        There are three status code responses for this endpoint: `200`, `400`,
        and `404`.


        ### Example success response


        The status code `200` could return the following response header and
        body.


        {% alert note %}  

        The `Link` header won't exist if the catalog has less than or equal to
        50 items. For calls without a cursor, `prev` will not show. When looking
        at the last page of items, `next` will not show.  

        {% endalert %}


        ```

        Link: ; rel="prev",; rel="next"


        ```


        ``` json

        {
          "items": [
            {
              "id": "restaurant1",
              "Name": "Restaurant1",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 5,
              "Loyalty_Program": true,
              "Open_Time": "2022-11-02T09:03:19.967Z"
            },
            {
              "id": "restaurant2",
              "Name": "Restaurant2",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 10,
              "Loyalty_Program": true,
              "Open_Time": "2022-11-02T09:03:19.967Z"
            },
            {
              "id": "restaurant3",
              "Name": "Restaurant3",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 5,
              "Loyalty_Program": false,
              "Open_Time": "2022-11-02T09:03:19.967Z"
            }
          ],
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "invalid-cursor",
              "message": "'cursor' is not valid",
              "parameters": [
                "cursor"
              ],
              "parameter_values": [
                "bad-cursor"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `invalid-cursor` | Check that your `cursor` is valid. |
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /catalogs/{catalog_name}/items/{item_id}:
    delete:
      tags:
        - Catalogs > Catalog Items > Synchronous
      summary: Delete a Catalog Item
      description: >-
        > Use this endpoint to delete an item in your catalog. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.delete_item` permission.


        ## Rate limit


        This endpoint has a shared rate limit of 50 requests per minute between
        all synchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |

        | `item_id` | Required | String | The ID of the catalog item. |


        ## Request parameters


        There is no request body for this endpoint.


        ## Example request


        ```

        curl --location --request DELETE
        'https://rest.iad-03.braze.com/catalogs/restaurants/items/restaurant1' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY'


        ```


        ## Response


        There are three status code responses for this endpoint: `202`, `400`,
        and `404`.


        ### Example success response


        The status code `202` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "item-not-found",
              "message": "Could not find item",
              "parameters": [
                "item_id"
              ],
              "parameter_values": [
                "restaurant34"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `arbitrary-error` | An arbitrary error occurred. Please try again or
        contact [Support](https://www.braze.com/docs/support_contact/). |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `item-not-found` | Check that the item to be deleted exists in your
        catalog. |
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
        - name: item_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Catalogs > Catalog Items > Synchronous
      summary: List Catalog Item Details
      description: >-
        > Use this endpoint to return a catalog item and its content. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.get_item` permission.


        ## Rate limit


        This endpoint has a shared rate limit of 50 requests per minute between
        all synchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |

        | `item_id` | Required | String | The ID of the catalog item. |


        ## Request parameters


        There is no request body for this endpoint.


        ## Example request


        ```

        curl --location --request GET
        'https://rest.iad-03.braze.com/catalogs/restaurants/items/restaurant1' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY'


        ```


        ## Response


        There are two status code responses for this endpoint: `200` and `404`.


        ### Example success response


        The status code `200` could return the following response body.


        ``` json

        {
          "items": [
            {
              "id": "restaurant3",
              "Name": "Restaurant1",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 5,
              "Loyalty_Program": true,
              "Open_Time": "2022-11-01T09:03:19.967Z"
            }
          ],
          "message": "success"
        }


        ```


        ### Example error response


        The status code `404` could return the following response. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "item-not-found",
              "message": "Could not find item",
              "parameters": [
                "item_id"
              ],
              "parameter_values": [
                "restaurant34"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps, if applicable.


        | Error | Troubleshooting |

        | --- | --- |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `item-not-found` | Check that the item is in the catalog. |
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
        - name: item_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Catalogs > Catalog Items > Synchronous
      summary: Edit Catalog Items
      description: >-
        > Use this endpoint to edit an item in your catalog. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.update_item` permission.


        ## Rate Limit


        This endpoint has a shared rate limit of 50 requests per minute between
        all synchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |

        | `item_id` | Required | String | The ID of the catalog item. |


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `items` | Required | Array | An array that contains item objects. The
        item objects should contain fields that exist in the catalog except for
        the `id` field. Only one item object is allowed per request. |


        ## Example request


        ```

        curl --location --request PATCH
        'https://rest.iad-03.braze.com/catalogs/restaurants/items/restaurant1' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY' \

        --data-raw '{
          "items": [
            {
              "Name": "Restaurant",
              "Loyalty_Program": false,
              "Open_Time": "2021-09-03T09:03:19.967+00:00"
            }
          ]
        }'


        ```


        ## Response


        There are three status code responses for this endpoint: `200`, `400`,
        and `404`.


        ### Example success response


        The status code `200` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "invalid-fields",
              "message": "Some of the fields given do not exist in the catalog",
              "parameters": [
                "id"
              ],
              "parameter_values": [
                "restaurant1"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `arbitrary-error` | An arbitrary error occurred. Please try again or
        contact [Support](https://www.braze.com/docs/support_contact/). |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `filtered-set-field-too-long` | The field value is being used in a
        filtered set that exceeds the character limit for an item. |

        | `id-in-body` | An item ID already exists in the catalog. |

        | `ids-too-large` | Character limit for each item ID is 250 characters.
        |

        | `invalid-ids` | Supported characters for item ID names are letters,
        numbers, hyphens, and underscores. |

        | `invalid-fields` | Confirm that the fields in the request exist in the
        catalog. |

        | `invalid-keys-in-value-object` | Item object keys can't include `.` or
        `$`. |

        | `item-not-found` | Check that the item is in the catalog. |

        | `item-array-invalid` | `items` must be an array of objects. |

        | `items-too-large` | Character limit for each item is 5,000 characters.
        |

        | `request-includes-too-many-items` | You can only edit one catalog item
        per request. |

        | `too-deep-nesting-in-value-object` | Item objects can't have more than
        50 levels of nesting. |

        | `unable-to-coerce-value` | Item types can't be converted. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                  - Name: Restaurant
                    Loyalty_Program: false
                    Open_Time: '2021-09-03T09:03:19.967+00:00'
              properties:
                items:
                  type: array
                  items:
                    type: object
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
        - name: item_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Catalogs > Catalog Items > Synchronous
      summary: Create Catalog Item
      description: >-
        > Use this endpoint to create an item in your catalog. 
          

        To use this endpoint, youll need to generate an API key with the
        `catalogs.create_item` permission.


        ## Rate limit


        This endpoint has a shared rate limit of 50 requests per minute between
        all synchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |

        | `item_id` | Required | String | The ID of the catalog item. |


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `items` | Required | Array | An array that contains item objects. The
        item objects should contain all of the fields in the catalog except for
        the `id` field. Only one item object is allowed per request. |


        ## Example Request


        ```

        curl --location --request POST
        'https://rest.iad-03.braze.com/catalogs/restaurants/items/restaurant1' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY' \

        --data-raw '{
          "items": [
            {
              "Name": "Restaurant1",
              "City": "New York",
              "Cuisine": "American",
              "Rating": 5,
              "Loyalty_Program": true,
              "Created_At": "2022-11-01T09:03:19.967+00:00"
            }
          ]
        }'


        ```


        ## Response


        There are three status code responses for this endpoint: `201`, `400`,
        and `404`.


        ### Example success response


        The status code `201` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "fields-do-not-match",
              "message": "Fields do not match with fields on the catalog",
              "parameters": [
                "id"
              ],
              "parameter_values": [
                "restaurant2"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `already-reached-catalog-item-limit` | Maximum number of catalogs
        reached. Contact your Braze account manager for more information. |

        | `already-reached-company-item-limit` | Maximum number of catalog items
        reached. Contact your Braze account manager for more information. |

        | `arbitrary-error` | An arbitrary error occurred. Please try again or
        contact [Support](https://www.braze.com/docs/support_contact/). |

        | `catalog-not-found` | Check that the catalog name is valid. |

        | `filtered-set-field-too-long` | The field value is being used in a
        filtered set that exceeds the character limit for an item. |

        | `id-in-body` | Remove any item IDs in the request body. |

        | `ids-too-large` | Character limit for each item ID is 250 characters.
        |

        | `invalid-ids` | Supported characters for item ID names are letters,
        numbers, hyphens, and underscores. |

        | `invalid-fields` | Confirm that the fields in the request exist in the
        catalog. |

        | `invalid-keys-in-value-object` | Item object keys can't include `.` or
        `$`. |

        | `item-already-exists` | The item already exists in the catalog. |

        | `item-array-invalid` | `items` must be an array of objects. |

        | `items-too-large` | Character limit for each item is 5,000 characters.
        |

        | `request-includes-too-many-items` | You can only create one catalog
        item per request. |

        | `too-deep-nesting-in-value-object` | Item objects can't have more than
        50 levels of nesting. |

        | `unable-to-coerce-value` | Item types can't be converted. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                  - Name: Restaurant1
                    City: New York
                    Cuisine: American
                    Rating: 5
                    Loyalty_Program: true
                    Created_At: '2022-11-01T09:03:19.967+00:00'
              properties:
                items:
                  type: array
                  items:
                    type: object
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
        - name: item_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Catalogs > Catalog Items > Synchronous
      summary: Update Catalog Item
      description: >-
        > Use this endpoint to update an item in your catalog. 
          

        To use this endpoint, you'll need to generate an API key with the
        `catalogs.replace_item` permission.


        If the `item_id` isn't found, this endpoint will create the item. This
        endpoint is synchronous.


        ## Rate limit


        This endpoint has a shared rate limit of 50 requests per minute between
        all synchronous catalog item endpoints, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Path parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `catalog_name` | Required | String | Name of the catalog. |

        | `item_id` | Required | String | The ID of the catalog item. |


        ## Request parameters


        | Parameter | Required | Data Type | Description |

        | --- | --- | --- | --- |

        | `items` | Required | Array | An array that contains item objects. The
        item objects should contain fields that exist in the catalog except for
        the `id` field. Only one item object is allowed per request. |


        ## Example request


        ```

        curl --location --request PUT
        'https://rest.iad-03.braze.com/catalogs/restaurants/items/restaurant1' \

        --header 'Content-Type: application/json' \

        --header 'Authorization: Bearer YOUR-REST-API-KEY' \

        --data-raw '{
          "items": [
            {
              "Name": "Restaurant",
              "Loyalty_Program": false,
              "Location": {
                "Latitude": 33.6112,
                "Longitude": -117.8711
              },
              "Open_Time": "2021-09-03T09:03:19.967+00:00"
            }
          ]
        }'


        ```


        ## Response


        There are three status code responses for this endpoint: `200`, `400`,
        and `404`.


        ### Example success response


        The status code `200` could return the following response body.


        ``` json

        {
          "message": "success"
        }


        ```


        ### Example error response


        The status code `400` could return the following response body. Refer to
        [Troubleshooting](#troubleshooting) for more information about errors
        you may encounter.


        ``` json

        {
          "errors": [
            {
              "id": "invalid-fields",
              "message": "Some of the fields given do not exist in the catalog",
              "parameters": [
                "id"
              ],
              "parameter_values": [
                "restaurant1"
              ]
            }
          ],
          "message": "Invalid Request"
        }


        ```


        ## Troubleshooting


        The following table lists possible returned errors and their associated
        troubleshooting steps.


        | Error | Troubleshooting |

        | --- | --- |

        | `already_reached_catalog_item_limit` | Maximum number of catalogs
        reached. Contact your Braze account manager for more information. |

        | `already_reached_company_item_limit` | Maximum number of items
        reached. Contact your Braze account manager for more information. |

        | `arbitrary_error` | An arbitrary error occurred. Please try again or
        contact [Support](https://www.braze.com/docs/support_contact/). |

        | `catalog_not_found` | Check that the catalog name is valid. |

        | `filtered-set-field-too-long` | The field value is being used in a
        filtered set that exceeds the character limit for an item. |

        | `id_in_body` | Remove any item IDs in the request body. |

        | `ids_too_large` | Character limit for each item ID is 250 characters.
        |

        | `invalid_ids` | Supported characters for item ID names are letters,
        numbers, hyphens, and underscores. |

        | `invalid_fields` | Confirm that the fields in the request exist in the
        catalog. |

        | `invalid_keys_in_value_object` | Item object keys can't include `.` or
        `$`. |

        | `item_already_exists` | The item already exists in the catalog. |

        | `item_array_invalid` | `items` must be an array of objects. |

        | `items_too_large` | Item values can't exceed 5,000 characters. |

        | `request_includes_too_many_items` | Your request has too many items.
        The item limit per request is 50. |

        | `too_deep_nesting_in_value_object` | Item objects can't have more than
        50 levels of nesting. |

        | `unable_to_coerce_value` | Item types can't be converted. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                  - Name: Restaurant
                    Loyalty_Program: false
                    Location:
                      Latitude: 33.6112
                      Longitude: -117.8711
                    Open_Time: '2021-09-03T09:03:19.967+00:00'
              properties:
                items:
                  type: array
                  items:
                    type: object
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: catalog_name
          in: path
          schema:
            type: string
          required: true
        - name: item_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /email/hard_bounces:
    get:
      tags:
        - Email Lists & Addresses
      summary: Query Hard Bounced Emails
      description: >-
        > Use this endpoint to pull a list of email addresses that have hard
        bounced your email messages within a certain time frame. 
          

        To use this endpoint, youll need to generate an API key with the
        `email.hard_bounces` permission.


        **Note:** You must provide an `end_date`, as well as either an `email`
        or a `start_date`. If you provide all three, `start_date`, `end_date`,
        and an `email`, we prioritize the emails given and disregard the date
        range.


        If your date range has more than `limit` number of hard bounces, you
        will need to make multiple API calls, each time increasing the `offset`
        until a call returns either fewer than `limit` or zero results.


        ## Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to
        this endpoint, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Example request


        ```

        curl --location --request GET
        'https://rest.iad-01.braze.com/email/hard_bounces?start_date=2019-01-01&end_date=2019-02-01&limit=100&offset=1&email=example@braze.com'
        \

        --header 'Authorization: Bearer YOUR-API-KEY-HERE'


        ```


        ## Response


        Entries are listed in descending order.


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {
          "emails": [
            {
              "email": "example1@braze.com",
              "hard_bounced_at": "2016-08-25 15:24:32 +0000"
            },
            {
              "email": "example2@braze.com",
              "hard_bounced_at": "2016-08-24 17:41:58 +0000"
            },
            {
              "email": "example3@braze.com",
              "hard_bounced_at": "2016-08-24 12:01:13 +0000"
            }
          ],
          "message": "success"
        }


        ```
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: start_date
          in: query
          schema:
            type: string
          description: >
            (Optional*) String in YYYY-MM-DD format 


            Start date of the range to retrieve hard bounces, must be earlier
            than `end_date`. This is treated as midnight in UTC time by the API.


            *You must provide either an `email` or a `start_date`, and an
            `end_date`.
          example: '2019-01-01'
        - name: end_date
          in: query
          schema:
            type: string
          description: >-
            (Optional*) String in YYYY-MM-DD format


            String in YYYY-MM-DD format. End date of the range to retrieve hard
            bounces. This is treated as midnight in UTC time by the API.


            *You must provide either an `email` or a `start_date`, and an
            `end_date`.
          example: '2019-02-01'
        - name: limit
          in: query
          schema:
            type: integer
          description: >-
            (Optional) Integer


            Optional field to limit the number of results returned. Defaults to
            100, maximum is 500.
          example: 100
        - name: offset
          in: query
          schema:
            type: integer
          description: |-
            (Optional) Integer

            Optional beginning point in the list to retrieve from.
          example: 1
        - name: email
          in: query
          schema:
            type: string
          description: >-
            (Optional*) String


            If provided, we will return whether or not the user has hard
            bounced.


            *You must provide either an `email` or a `start_date`, and an
            `end_date`.
          example: example@braze.com
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /email/unsubscribes:
    get:
      tags:
        - Email Lists & Addresses
      summary: Query List of Unsubscribed Email Addresses
      description: >-
        > Use this endpoint to return emails that have unsubscribed during the
        time period from `start_date` to `end_date`. 
          

        You can use this endpoint to set up a bi-directional sync between Braze
        and other email systems or your own database.


        To use this endpoint, youll need to generate an API key with the
        `email.unsubscribe` permission.


        **Note:** You must provide an `end_date`, as well as either an `email`
        or a `start_date`.


        If your date range has more than `limit` number of unsubscribes, you
        will need to make multiple API calls, each time increasing the `offset`
        until a call returns either fewer than `limit` or zero results.


        ## Rate limit


        We apply the default Braze rate limit of 250,000 requests per hour to
        this endpoint, as documented in [API rate
        limits](https://www.braze.com/docs/api/api_limits/).


        ## Example request


        ```

        curl --location --request GET
        'https://rest.iad-01.braze.com/email/unsubscribes?start_date=2020-01-01&end_date=2020-02-01&limit=1&offset=1&sort_direction=desc&email=example@braze.com'
        \

        --header 'Authorization: Bearer YOUR-API-KEY-HERE'


        ```


        ## Response


        Entries are listed in descending order.


        ``` json

        Content-Type: application/json

        Authorization: Bearer YOUR-REST-API-KEY

        {
          "emails": [
            {
              "email": "example1@braze.com",
              "unsubscribed_at": "2016-08-25 15:24:32 +0000"
            },
            {
              "email": "example2@braze.com",
              "unsubscribed_at": "2016-08-24 17:41:58 +0000"
            },
            {
              "email": "example3@braze.com",
              "unsubscribed_at": "2016-08-24 12:01:13 +0000"
            }
          ],
          "message": "success"
        }


        ```
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{api_key}}
        - name: start_date
          in: query
          schema:
            type: string
          description: >-
            (Optional*) String in YYYY-MM-DD format


            Start date of the range to retrieve unsubscribes, must be earlier
            than end_date. This is treated as midnight in UTC time by the API.
          example: '2020-01-01'
        - name: end_date
          in: query
          schema:
            type: string
          description: >-
            (Optional*)  String in YYYY-MM-DD format


            End date of the range to retrieve unsubscribes. This is treated as
            midnight in UTC time by the API.
          example: '2020-02-01'
        - name: limit
          in: query
          schema:
            type: integer
          description: >-
[...]
